.body {
  background-color: lightgray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  height: 50px;
  width: 100px;
  background-color: white;
  text-align: center;
}

.hidden {
  display: none;
}
